[submodule "daputils"]
	path = daputils
	url = git+ssh://git@bitbucket.org/hmesa/amtechnodejsdaputils.git
[submodule "maptools"]
	path = maptools
	url = git+ssh://git@bitbucket.org/hmesa/amtechmaptools.git
